/*
!.gitignore
!userconfig/
userconfig/*
!userconfig/cba_settings.sqf
!userconfig/mypass.hpp.sample
!dll/
dll/*
!dll/mimalloc-v206-lock-pages.dll
*.pbo
!/!scripts/
!/!scripts/**
/!scripts/secrets.txt
!/!scripts_OLD_BACKUP/
!/!scripts_OLD_BACKUP/**
