/main/*
!/main/.gitkeep
/main - Copy/*
!/main - Copy/.gitkeep
/main_test/*
!/main_test/.gitkeep
/special/*
!/special/.gitkeep
/testing/*
!/testing/.gitkeep
/server-main/*
!/server-main/.gitkeep
/server-training/*
!/server-training/.gitkeep
/server-testing/*
!/server-testing/.gitkeep
/library/*
!/library/.gitignore
!/library/.gitkeep
